@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,800;1,300;1,400;1,600;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
      
}

h1 {
  font-family: 'Abril Fatface', 'cursive';
  color: #000;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 106.1%;
}

h2 {
  font-family: 'Abril Fatface', 'cursive';
  color: #282828;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3 {
  font-family: 'Merriweather Sans', sans-serif;
  color: #282828;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  font-family: 'Merriweather Sans', sans-serif;
  color: #282828;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}